@import "../../fonts.scss";
$dragIcon: 'assets/Drag_Vertical.svg';

.mainContainer {
    min-height: 100vh;
    padding-top: 50px;
    // display: flex;
    flex-direction: column;
    overflow-x: hidden;
    @include oss-font("SharpSansSemibold");

  }

  .contentContainer {
    max-width: 1300px;
    margin: 0 auto;
    flex: 1;
  }

  .chooseGameInputs {
    display: flex;
    justify-content: stretch;
    // width: 40vw;
    width: 500px;
  }

  .secondHalfContainer {
    display: flex;
    justify-content: space-between;
  }

  .firstSection {
    width: 33%;
  }

  .secondSection {
    height: 40vh;
    width: 33%;
  }

  .thirdSection {
    // height: 40vh;
    width: 26%;
  }

  :host ::ng-deep {
    [pDraggable] {
        cursor: move;
    }
}

.matchupsTitle {
  text-align: center; 
  margin-bottom: 0px; 
  margin-top: 0px;
  @include oss-font("SharpSansBold");

}

.teamColor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.dragIcon {
    width: 20px;
    height: 20px;
    background-image: url($dragIcon);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }



  .centered-content {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .teamColorEmblem {
    border-radius: 30px;
    display: inline-block;
    width: 40px;
    height: 40px;
  }

    .teamText {
        display: flex;
        align-items: center;
    }


    .subNavContentContainer{
      display: flex;
      margin-right: auto;
      flex: 1;
      @include oss-font("SharpSansBold");
  }
  
  .pageToolBar {
    // position: relative;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    z-index: 1;
    height: 64px;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2); /* Shadow only at the bottom */
    background-color: white;
  }

  .btn {
    color: white !important;
    margin-top: 1em;
    padding: 0px 14px;
    @include oss-font("SharpSansSemibold");

    &__customGames {
      background-color: black;

    }

    &__publish {
      background: linear-gradient(83.75deg, #0E8FFD 0%, #A435F3 48.5%, #FF636C 100%);

    }

    &__generateMatchup {
      width: 80%;
      background: linear-gradient(83.75deg, #0E8FFD 0%, #A435F3 48.5%, #FF636C 100%);
    }

    &__saveBtn {  
      width: 60% !important;
      color: #696969 !important;

      &.active {
          background: linear-gradient(83.75deg, #0E8FFD 0%, #A435F3 48.5%, #FF636C 100%);
          border: none;
          color: white !important;
      }
    }
  }