<div class="page-container">
  <div class="top-controls"> 
    <mat-form-field class="game-dropdown">
      <mat-label class="dropdown-label">Choose a game</mat-label>
      <mat-select >
        <mat-option value="option1">Football</mat-option>
        <mat-option value="option2" disabled>Jeopardy (disabled)</mat-option>
        <mat-option value="option3">Basketball</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="tournament-bracket tournament-bracket--rounded">
    <div
      class="tournament-bracket__round"
      *ngFor="let round of tournamentRounds"
    >
      <h3 class="tournament-bracket__round-title">{{ round.title }}</h3>
      <ul class="tournament-bracket__list">
        <li
          *ngFor="let match of round.matches"
          class="tournament-bracket__item"
        >
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <thead class="sr-only">
                <tr>
                  <th>Team</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody class="tournament-bracket__content">
                <tr
                  *ngFor="let team of match.teams"
                  [ngClass]="{
                    'tournament-bracket__team--winner': team.isWinner
                  }"
                  class="tournament-bracket__team"
                >
                  <td class="tournament-bracket__country">
                    <div class="color-code {{team.code}}"></div>
                  </td>
                  <td class="tournament-bracket__score">
                    <mat-form-field class="team-score" color="primary"  #tooltip="matTooltip"
                    matTooltip="Edit"
                    [matTooltipPosition]="'below'">
                      <input matInput value="{{team.score}}" />
                    </mat-form-field>     
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
