@import '../../fonts.scss';
.example-card {
    min-width: 380px;
    background-color: #ffffff;
    border-radius: 5%;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    font-family: 'Sharp Sans', sans-serif;
  }

  ::ng-deep .example-card tr {
    border-bottom: none;
  }

  .cardHeader {
    justify-content: space-between;
  }

  .cardHeader a {
    color: #0E8FFD;
    font-weight: 600;
    font-size: 14px;
  }

  .cardHeader a:hover {
    cursor: pointer;
  }

  .cardHyperlink {
    border-bottom-style: solid;
    @include oss-font("SharpSansSemibold");

  }

  th, td {
    border-bottom-style: none;
    font-family: 'Sharp Sans', sans-serif;
  }

  mat-card {
    max-height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add the shadow */
  }

  .cardTitle {
    font-size: 20px;
    @include oss-font("SharpSansBold");

  }

  .tableHeader {
    @include oss-font("SharpSansSemibold");    
    font-size: 14px;
    color: lightgray;
  }

  .tableBody {
    font-size: 16px;
  }

  .teamColor {
    border-radius: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  table tr td:first-child {
    @include oss-font("SharpSansBold");
  }

  table tr td:not(:first-child) {
    @include oss-font("SharpSansSemibold");
  }

  .centered-content {
    display: flex;
    align-items: center;
  }