<clr-tabs cds-text="subsection">
	<clr-tab>
	  <button clrTabLink>Round 1</button>
	  <clr-tab-content *clrIfActive>
		<app-datagrid></app-datagrid>
	  </clr-tab-content>
	</clr-tab>
	<clr-tab>
	  <button clrTabLink>Round 2</button>
	  <clr-tab-content *clrIfActive>
		<app-datagrid></app-datagrid>
	  </clr-tab-content>
	</clr-tab>
	<clr-tab>
	  <button clrTabLink>Round 3 (Final)</button>
	  <clr-tab-content *clrIfActive>
		<app-datagrid></app-datagrid>
	  </clr-tab-content>
	</clr-tab>
  </clr-tabs>
