.matchup-container{
    display: flex;
    flex-direction: column;
    gap: 16px;

    flex-wrap: wrap;
    margin-top: 16px;

    width: 400px;
}

.game-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.team-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    gap: 16px;

    // justify-content: space-between;
   width: 100%;

}

.input-field{
    margin-left: auto;
}

label{
    width: 130px;
}
