<!-- <div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="javascript://">
        <span class="title">Olympiad</span>
      </a>
    </div>
    <div class="settings">
      <a href="javascript://" class="nav-link nav-icon">
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      [clrVerticalNavCollapsed]="true"
    >
    <a clrVerticalNavLink routerLink="/generate-matchups">Create Matchups</a>
      <a clrVerticalNavLink routerLink="/basketball">Basketball</a>
      <a clrVerticalNavLink routerLink="/basketball">Volleyball</a>

    </clr-vertical-nav>
  </div>
</div> -->
<div>
  <router-outlet></router-outlet>
</div>
