<div class="homepageContainer">
  <div class="contentContainer">
      <!-- Title -->
      <div class="page_title_container">
        <app-score-ranking-card-container></app-score-ranking-card-container>
    
        <!-- Data Grid -->
        <div
          class="datagrid_container clr-align-self-center clr-col-10"
          *ngIf="dataReady | async"
        >
          <app-generic-datagrid
            [dataList]="gameRankings"
            [columnHeaders]="columnHeader"
          >
          </app-generic-datagrid>
        </div>
    
        <!-- </div> -->
      </div>
  </div>

</div>
