<div class="table_container clr-row clr-justify-content-center">
  <div class="table">
    <clr-datagrid>
      <!-- Headers -->
      <clr-dg-column *ngFor="let header of columnHeaders">
        <span cds-text="headline">{{ header }}</span>
      </clr-dg-column>
      <!-- Body -->
      <clr-dg-row *ngFor="let data of dataArray">
        <clr-dg-cell *ngFor="let key of keys">
          <!-- if value of key is color change color of text -->
          <span
            cds-text="headline"
            class="dataCellText"
            *ngIf="isStringInArray(data[key]); else colorlessString"
            [ngStyle]="{ color: data[key] }"
          >
            {{ data[key] | uppercase }}
          </span>

          <ng-template #colorlessString>
            <span cds-text="headline" class="dataCellText">
              {{ data[key] }}
            </span>
          </ng-template>

        </clr-dg-cell>
      </clr-dg-row>
      <!-- May not need -->
      <clr-dg-footer></clr-dg-footer> 
    </clr-datagrid>
  </div>
</div>
